
/* SYNTAX RELATED STYLES */
.syntax-container {
    display: flex;
    gap: 0.5rem;
}

.syntax-copy-button {
    /* padding: 0px 0.5rem; */
    background-color: transparent;
    outline: none;
}

/* POSE SECTION RELATED STLES */

.pose-options {
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: space-between;
}

.pose-select {
    width: 100%
}
            